
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  font-family: 'Poppins', sans-serif;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 18px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  font-size: 15px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;

  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

