@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  font-family: "Poppins", sans-serif;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 18px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  font-size: 15px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;

  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

.messages__popup {
  position: absolute;
  bottom: 0;
  right: 25px;
  min-width: 350px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  box-shadow: 0 0 15px rgba(90, 89, 89, 0.253);
}
.messages__popup__header {
  display: flex;
  width: 100%;
  padding: 10px;
  padding-bottom: 8px;
}
.messages__popup__header > h3 {
  font-size: 22px;
}
.messages__popup__header:hover {
  cursor: pointer;
}
.material-icons:nth-child(2) {
  margin-left: auto;
  margin-right: 20px;
}
#material-icons-id-u.toggle__arrow__up {
  display: none;
}
#material-icons-id-d {
  display: none;
}
#material-icons-id-d.toggle__arrow__down {
  display: block;
}
#messages__popup__chats__id {
  max-height: 477px;
  overflow-y: scroll;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  display: none;
}
#messages__popup__chats__id.toggle__messages__popup__chats {
  display: block;
}
.messages__popup__chat {
  display: flex;
  padding-top: 20px;
  padding: 10px;
}
.messages__popup__chat:hover {
  cursor: pointer;
  background-color: rgba(192, 192, 192, 0.226);
}
.messages__popup__chat__profile__img {
  width: 45px;
  height: 45px;
}
.messages__popup__chat__message,
.messages__popup__chat__message__date {
  margin: 6px;
}
.messages__popup__chat__message {
  margin-left: 10px;
  margin-top: 0;
}
.messages__popup__chat__message > p > span {
  font-size: 12px;
}
.messages__popup__chat__message__msg {
  color: rgb(117, 115, 115);
}
.messages__popup__chat__message__date {
  margin-left: auto;
}

/* feed */
.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 50px;

}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 10px;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 17px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  font-size: 12px;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* post */
.post__avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;

}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  width: 450px;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.post__avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}
