/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* Parent div */
.parent {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}
/* left side header -> navigation */
.header-wrapper {
  flex: 1;
  height: calc(98vh - 4px);
  width: 200px;
  margin-left: 140px;
  /* border: 2px solid red;  */
  min-height: 500px;
  overflow-y: auto;
  align-items: flex-end;
}
/* twitter logo */
.logo-img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.1s ease-in;
  border-radius: 90px;
  overflow: visible;
  padding: 10px;
  fill: rgb(29, 155, 240);
}

.logo-img:hover {
  background-color: rgba(52, 173, 253, 0.13);
}

nav > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.nav-item {
  display: block;
  margin-top: 5px;
}
.nav-item:hover > .nav-item-div {
  background-color: rgba(0, 0, 0, 0.082);
}
.nav-item-div {
  display: flex;
  align-items: center;
  padding: 10px 13px;
  border-radius: 40px;
  width: fit-content;
  transition: 0.15s ease;
}

/* bottom tweet buttom */
.tweet {
  text-align: center;
  margin-top: 20px;
}
.tweet-div {
  display: flex;
  align-items: center;
  padding: 13px 15px;
  justify-content: center;
  background-color: rgb(29, 155, 240);
  border-radius: 50px;
  color: white;
  width: 70%;
}
.tweet-div:hover {
  background-color: rgb(26, 131, 201);
}

.icon-img {
  height: 1.75rem;
}
.tag {
  margin: 0 15px;
}
.tag > span {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: black;
}
.tweet-icon {
  display: none;
  cursor: pointer;
}
.tweet-tag > span {
  color: white;
  font-weight: 500;
  font-size: 17px;
}

/* for the current active tag */
.active-tag {
  font-weight: 500;
}

/* for right side content */
.main-wrapper {
  flex: 4;
}

/* media query to collapse the navigation bar */
@media (max-width: 1280px) {
  .header-wrapper {
    margin-left: 80px;
    flex: none;
    width: fit-content;
  }
  .tag {
    display: none;
  }
  .tweet-icon {
    display: block;
    width: fit-content;
    height: fit-content;
    fill: white;
  }

  .tweet-tag {
    display: none;
  }
  .tweet-div {
    background-color: rgba(52, 173, 253);
    width: fit-content;
    justify-content: flex-start;
  }
  .tweet-div:hover {
    background-color: rgb(32, 130, 196);
  }
}
/* media query to remove margin from the navigation bar */
@media (max-width: 1020px) {
  .header-wrapper {
    margin-left: 20px;
  }
}
